$colors: (
  'text': (
    'h-text1': #fff,
    'h-text2': #08111a,
    'h-text3': #08111a,
    'h-text4': #060512,
    'p-text1': #cfd0d7,
    'p-text2': #4e4d61,
    'p-text3': #51575d,
    'p-text4': #6e6e72,
  ),
  'bg': (
    'bg-w': #fff,
    'bg-1': #101537,
    'bg-2': #6534f4,
    'bg-3': #242c56,
    'bg-4': #373d60,
    'bg-5': #f5f8ff,
    'bg-6': #ece9fe,
    'bg-7': #6a5cff,
    'bg-8': #ff6a6a,
    'bg-9': #f9fafd,
    'bg-10': #603bf3,
    'bg-11': #facd30,
    'bg-12': #343368,
    'bg-13': #f5f8ff,
    'bg-14': #e7e8ff,
    'bg-15': #4c5eec,
    'bg-16': #edeefd,
    'bg-17': #dfd8fd,
  ),
  'border': (
    'border-1': #f0f0f0,
    'border-2': #dfdcdc,
    'border-3': #2c2e55,
  ),
);
