@use '../../utils/' as *;

/*
 ::::::::::::::::::::::::::
  HEADER AREA CSS
 ::::::::::::::::::::::::::
 */

//=== header style 1 ===

.header-area.header-area2 {
  .main-menu-ex {
    ul#list-example {
      li {
        a.active {
          color: #6a5cff;
        }
      }
    }
  }
}

.header-area.header-area1 {
  .main-menu-ex {
    ul#list-example {
      li {
        a.active {
          color: #6a5cff;
        }
      }
    }
  }
}

.header-area.header-area3 {
  .main-menu-ex {
    ul#list-example {
      li {
        a.active {
          color: #ff6a6a;
        }
      }
    }
  }
}

.header-area.header-area4 {
  .main-menu-ex {
    ul#list-example {
      li {
        a.active {
          color: #4c5eec;
        }
      }
    }
  }
}

.header-area.header-area5 {
  .main-menu-ex {
    ul#list-example {
      li {
        a.active {
          color: #9205f6;
        }
      }
    }
  }
}

.header-area.header-area6 {
  .main-menu-ex {
    ul#list-example {
      li {
        a.active {
          color: #000;
        }
      }
    }
  }
}

.header-area.header-area7 {
  .main-menu-ex {
    ul#list-example {
      li {
        a.active {
          color: #000;
        }
      }
    }
  }
}

.header-area.header-area8 {
  .main-menu-ex {
    ul#list-example {
      li {
        a.active {
          color: #c500f3;
        }
      }
    }
  }
}

.header-area.header-area9 {
  .main-menu-ex {
    ul#list-example {
      li {
        a.active {
          color: #4c5eec;
        }
      }
    }
  }
}
.header-area.sticky {
    background: transparent !important;
}

.header-area.sticky .main-menu-ex ul li a,
.header-area.sticky p {
    color: #000000 !important;
}

.header-area.sticky img[alt="logo-icon"] {
    filter: brightness(0) invert(1); /* makes the SVG white */
}

//=== header style 1 ===

/*
 ::::::::::::::::::::::::::
  HEADER AREA CSS
 ::::::::::::::::::::::::::
 */
