.fullwidth-image {
  .shade {
    width: 100%;
    height: 150px;
    display: block;
  }

  .shade-top {
    background: linear-gradient(180deg, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(254, 254, 254), rgb(253, 253, 254), rgb(250, 251, 252), rgb(247, 248, 250), rgb(243, 244, 248), rgb(237, 239, 244), rgb(229, 232, 240), rgb(219, 224, 234), rgb(207, 214, 227), rgb(193, 201, 219), rgb(176, 187, 209), rgb(156, 170, 197), rgb(133, 150, 184), rgb(107, 128, 169), rgb(90, 109, 144), rgb(75, 92, 121), rgb(62, 78, 102), rgb(52, 66, 86), rgb(42, 55, 72), rgb(34, 46, 60), rgb(28, 39, 51), rgb(23, 34, 43), rgb(19, 29, 37), rgb(16, 26, 33), rgb(14, 23, 29), rgb(13, 22, 27), rgb(12, 21, 26), rgb(11, 20, 25), rgb(11, 20, 25), rgb(11, 20, 25));
  }

  .image-outer {
    position: relative;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    overflow: hidden;
  }

  .image-inner {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    overflow: hidden;
    background-color: #0b1419;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .shade-bottom {
    background: linear-gradient(360deg, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(254, 254, 254), rgb(253, 253, 254), rgb(250, 251, 252), rgb(247, 248, 250), rgb(243, 244, 248), rgb(237, 239, 244), rgb(229, 232, 240), rgb(219, 224, 234), rgb(207, 214, 227), rgb(193, 201, 219), rgb(176, 187, 209), rgb(156, 170, 197), rgb(133, 150, 184), rgb(107, 128, 169), rgb(90, 109, 144), rgb(75, 92, 121), rgb(62, 78, 102), rgb(52, 66, 86), rgb(42, 55, 72), rgb(34, 46, 60), rgb(28, 39, 51), rgb(23, 34, 43), rgb(19, 29, 37), rgb(16, 26, 33), rgb(14, 23, 29), rgb(13, 22, 27), rgb(12, 21, 26), rgb(11, 20, 25), rgb(11, 20, 25), rgb(11, 20, 25));
  }
}

.fullwidth-image {
    background-color: #0b1419;
}