@use '../../utils/' as *;

/*
 ::::::::::::::::::::::::::
  CHOOSE AREA CSS
 ::::::::::::::::::::::::::
 */

//=== choose style 1 ===

.choose2 {
  .choose-images {
    position: relative;
    margin-top: 30px;
    .image1 {
      margin-left: 60px;
      text-align: right;

      @media #{$md} {
        margin-left: 0;
      }
      @media #{$xs} {
        margin-left: 0;
      }
      img {
        width: 100%;
      }
    }

    .image2 {
      position: absolute;
      top: -40px;
      right: -40px;
    }
  }

  .accordion {
    border: none;
    .accordion-item.collapsed {
      background: red;
    }

    .accordion-item {
      border: 2px solid #6a5cff47;
      margin-top: 16px;
      border-radius: 4px;
      transition: all 0.4s;
      button {
        border-radius: 4px 4px 0px 0px;
        background: none;
        border: none;
        color: var(--qt-text-h-text2);
        font-weight: var(--f-fw-blod);
        font-size: var(--f-fs-font-fs18);
        line-height: var(--f-fs-font-fs18);
        padding: 20px;
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      div {
        border: none;
      }

      .accordion-body {
        border: none;
        color: var(--qt-text-p-text2);
        font-weight: var(--f-fw-regular);
        font-size: var(--f-fs-font-fs18);
        line-height: var(--f-fs-font-fs30);
        padding: 0px 20px 20px 20px;
      }
    }

    .accordion-item.active {
      border: 2px solid var(--qt-bg-bg-7);
      transition: all 0.4s;
    }
  }
}

.accordion {
  --bs-accordion-color: #000;
  --bs-accordion-bg: #fff;
  --bs-accordion-transition:
    color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border-color: none;
  --bs-accordion-border-width: 1px;
  --bs-accordion-border-radius: 0.375rem;
  --bs-accordion-inner-border-radius: calc(0.375rem - 1px);
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-color: var(--bs-body-color);
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-focus-border-color: #86b7fe;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: #0c63e4;
  --bs-accordion-active-bg: #e7f1ff;
}

.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-active-icon);
  transform: var(--bs-accordion-btn-icon-transform);
  filter: brightness(0.5);
}

// active class arrow css added
.accordion-item.active .accordion-button.collapsed::after {
  background-image: var(--bs-accordion-btn-active-icon) !important;
  transform: var(--bs-accordion-btn-icon-transform) !important;
  filter: brightness(0.5) !important;
}

//=== choose style 1 ===

//=== choose style 5 ===

.choose5 {
  .choose-box {
    margin-top: 30px;
    text-align: center;

    .image {
      border-radius: 7px;
      overflow: hidden;
      img {
        transition: all 0.4s;
      }
    }

    .heading5 {
      padding: 0px 40px;
    }

    &:hover {
      .image {
        img {
          transition: all 0.4s;
          transform: scale(1.1);
        }
      }
    }
  }
}

//=== choose style 5 ===

/*
 ::::::::::::::::::::::::::
  CHOOSE AREA CSS
 ::::::::::::::::::::::::::
 */
